wsdl/SSNWSService_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.ssn/" elementFormDefault="unqualified" targetNamespace="http://ws.ssn/" version="1.0">
<xs:element name="addField" type="tns:addField"/>
<xs:element name="addFieldResponse" type="tns:addFieldResponse"/>
<xs:element name="addFieldSport" type="tns:addFieldSport"/>
<xs:element name="addFieldSportResponse" type="tns:addFieldSportResponse"/>
<xs:element name="addReservation" type="tns:addReservation"/>
<xs:element name="addReservationResponse" type="tns:addReservationResponse"/>
<xs:element name="addReservations" type="tns:addReservations"/>
<xs:element name="addReservationsResponse" type="tns:addReservationsResponse"/>
<xs:element name="createEvent" type="tns:createEvent"/>
<xs:element name="createEventResponse" type="tns:createEventResponse"/>
<xs:element name="createManagerEntity" type="tns:createManagerEntity"/>
<xs:element name="createManagerEntityResponse" type="tns:createManagerEntityResponse"/>
<xs:element name="createReportType" type="tns:createReportType"/>
<xs:element name="createReportTypeResponse" type="tns:createReportTypeResponse"/>
<xs:element name="createSport" type="tns:createSport"/>
<xs:element name="createSportResponse" type="tns:createSportResponse"/>
<xs:element name="deleteField" type="tns:deleteField"/>
<xs:element name="deleteFieldResponse" type="tns:deleteFieldResponse"/>
<xs:element name="deleteFieldSport" type="tns:deleteFieldSport"/>
<xs:element name="deleteFieldSportResponse" type="tns:deleteFieldSportResponse"/>
<xs:element name="deleteManagerEntity" type="tns:deleteManagerEntity"/>
<xs:element name="deleteManagerEntityResponse" type="tns:deleteManagerEntityResponse"/>
<xs:element name="deleteReservation" type="tns:deleteReservation"/>
<xs:element name="deleteReservationResponse" type="tns:deleteReservationResponse"/>
<xs:element name="deleteReservations" type="tns:deleteReservations"/>
<xs:element name="deleteReservationsResponse" type="tns:deleteReservationsResponse"/>
<xs:element name="getEventById" type="tns:getEventById"/>
<xs:element name="getEventByIdResponse" type="tns:getEventByIdResponse"/>
<xs:element name="getEvents" type="tns:getEvents"/>
<xs:element name="getEventsByFilters" type="tns:getEventsByFilters"/>
<xs:element name="getEventsByFiltersResponse" type="tns:getEventsByFiltersResponse"/>
<xs:element name="getEventsByUser" type="tns:getEventsByUser"/>
<xs:element name="getEventsByUserResponse" type="tns:getEventsByUserResponse"/>
<xs:element name="getEventsHistoryByUser" type="tns:getEventsHistoryByUser"/>
<xs:element name="getEventsHistoryByUserResponse" type="tns:getEventsHistoryByUserResponse"/>
<xs:element name="getEventsResponse" type="tns:getEventsResponse"/>
<xs:element name="getFieldById" type="tns:getFieldById"/>
<xs:element name="getFieldByIdResponse" type="tns:getFieldByIdResponse"/>
<xs:element name="getFieldsByManagerEntity" type="tns:getFieldsByManagerEntity"/>
<xs:element name="getFieldsByManagerEntityResponse" type="tns:getFieldsByManagerEntityResponse"/>
<xs:element name="getManagerEntities" type="tns:getManagerEntities"/>
<xs:element name="getManagerEntitiesByEvent" type="tns:getManagerEntitiesByEvent"/>
<xs:element name="getManagerEntitiesByEventResponse" type="tns:getManagerEntitiesByEventResponse"/>
<xs:element name="getManagerEntitiesById" type="tns:getManagerEntitiesById"/>
<xs:element name="getManagerEntitiesByIdResponse" type="tns:getManagerEntitiesByIdResponse"/>
<xs:element name="getManagerEntitiesBySport" type="tns:getManagerEntitiesBySport"/>
<xs:element name="getManagerEntitiesBySportResponse" type="tns:getManagerEntitiesBySportResponse"/>
<xs:element name="getManagerEntitiesResponse" type="tns:getManagerEntitiesResponse"/>
<xs:element name="getReportTypes" type="tns:getReportTypes"/>
<xs:element name="getReportTypesResponse" type="tns:getReportTypesResponse"/>
<xs:element name="getReservationsByField" type="tns:getReservationsByField"/>
<xs:element name="getReservationsByFieldResponse" type="tns:getReservationsByFieldResponse"/>
<xs:element name="getSportById" type="tns:getSportById"/>
<xs:element name="getSportByIdResponse" type="tns:getSportByIdResponse"/>
<xs:element name="getSports" type="tns:getSports"/>
<xs:element name="getSportsResponse" type="tns:getSportsResponse"/>
<xs:element name="getUserDetails" type="tns:getUserDetails"/>
<xs:element name="getUserDetailsResponse" type="tns:getUserDetailsResponse"/>
<xs:element name="getUsersByEvent" type="tns:getUsersByEvent"/>
<xs:element name="getUsersByEventResponse" type="tns:getUsersByEventResponse"/>
<xs:element name="joinEvent" type="tns:joinEvent"/>
<xs:element name="joinEventResponse" type="tns:joinEventResponse"/>
<xs:element name="leaveEvent" type="tns:leaveEvent"/>
<xs:element name="leaveEventResponse" type="tns:leaveEventResponse"/>
<xs:element name="registerUser" type="tns:registerUser"/>
<xs:element name="registerUserResponse" type="tns:registerUserResponse"/>
<xs:element name="reportUser" type="tns:reportUser"/>
<xs:element name="reportUserResponse" type="tns:reportUserResponse"/>
<xs:element name="updateField" type="tns:updateField"/>
<xs:element name="updateFieldResponse" type="tns:updateFieldResponse"/>
<xs:element name="updateFieldSport" type="tns:updateFieldSport"/>
<xs:element name="updateFieldSportResponse" type="tns:updateFieldSportResponse"/>
<xs:element name="updateManagerEntity" type="tns:updateManagerEntity"/>
<xs:element name="updateManagerEntityResponse" type="tns:updateManagerEntityResponse"/>
<xs:element name="updateUser" type="tns:updateUser"/>
<xs:element name="updateUserResponse" type="tns:updateUserResponse"/>
<xs:complexType name="deleteReservation">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteReservationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="result">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="error" type="xs:string"/>
      <xs:element name="valid" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUsersByEvent">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUsersByEventResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="user">
    <xs:sequence>
      <xs:element name="currentAccount" type="xs:int"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="gcmId" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="surname1" type="xs:string"/>
      <xs:element minOccurs="0" name="surname2" type="xs:string"/>
      <xs:element name="telephone" type="xs:int"/>
      <xs:element name="type" type="xs:int"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createSport">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:sport"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sport">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="tns:field"/>
      <xs:element name="idSport" type="xs:int"/>
      <xs:element name="maxPlayers" type="xs:int"/>
      <xs:element name="minPlayers" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="field">
    <xs:sequence>
      <xs:element name="idField" type="xs:int"/>
      <xs:element name="idManagerEntity" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="sports" nillable="true" type="tns:fieldSports"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="fieldSports">
    <xs:sequence>
      <xs:element name="hourPrice" type="xs:double"/>
      <xs:element name="idSport" type="xs:int"/>
      <xs:element minOccurs="0" name="sportName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createSportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteFieldSport">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteFieldSportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createManagerEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:managerEntity"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="managerEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="idManagerEntity" type="xs:int"/>
      <xs:element name="idUser" type="xs:int"/>
      <xs:element name="latitude" type="xs:double"/>
      <xs:element name="longitude" type="xs:double"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="telephone" type="xs:int"/>
      <xs:element name="type" type="xs:int"/>
      <xs:element minOccurs="0" name="web" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createManagerEntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="registerUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="registerUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="joinEvent">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="joinEventResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEventById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEventByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="event">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element name="endDate" type="xs:long"/>
      <xs:element name="idCreator" type="xs:int"/>
      <xs:element name="idEvent" type="xs:int"/>
      <xs:element name="idSport" type="xs:int"/>
      <xs:element name="latitude" type="xs:double"/>
      <xs:element name="longitude" type="xs:double"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="managerEntities" nillable="true" type="xs:int"/>
      <xs:element name="maxPlayers" type="xs:int"/>
      <xs:element name="maxPrice" type="xs:double"/>
      <xs:element name="minPlayers" type="xs:int"/>
      <xs:element name="range" type="xs:int"/>
      <xs:element name="startDate" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getManagerEntities">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getManagerEntitiesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEventsByFilters">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:double"/>
      <xs:element minOccurs="0" name="arg3" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg4" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEventsByFiltersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getFieldById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getFieldByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="reportUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:report"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="report">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element name="date" type="xs:long"/>
      <xs:element name="idField" type="xs:int"/>
      <xs:element name="idReport" type="xs:int"/>
      <xs:element name="idReportType" type="xs:int"/>
      <xs:element name="idReporter" type="xs:int"/>
      <xs:element name="idUser" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="reportUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addField">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:field"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addFieldResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getManagerEntitiesByEvent">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getManagerEntitiesByEventResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateField">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:field"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateFieldResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getReportTypes">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getReportTypesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="reportType">
    <xs:sequence>
      <xs:element name="idReportType" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="severity" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="leaveEvent">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="leaveEventResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getManagerEntitiesBySport">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getManagerEntitiesBySportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateManagerEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:managerEntity"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateManagerEntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEventsByUser">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEventsByUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEvents">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getEventsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getSportById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getSportByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getReservationsByField">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getReservationsByFieldResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="reservation">
    <xs:sequence>
      <xs:element name="confirmed" type="xs:boolean"/>
      <xs:element name="endDate" type="xs:long"/>
      <xs:element name="idEvent" type="xs:int"/>
      <xs:element name="idField" type="xs:int"/>
      <xs:element name="idReservation" type="xs:int"/>
      <xs:element name="startDate" type="xs:long"/>
      <xs:element name="type" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getFieldsByManagerEntity">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getFieldsByManagerEntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateFieldSport">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateFieldSportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserDetails">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteReservations">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:reservation"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteReservationsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteField">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteFieldResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEventsHistoryByUser">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEventsHistoryByUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getSports">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getSportsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createReportType">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:reportType"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createReportTypeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:event"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createEventResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:reservation"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addReservationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteManagerEntity">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deleteManagerEntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addFieldSport">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addFieldSportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getManagerEntitiesById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getManagerEntitiesByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addReservations">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:reservation"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addReservationsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
